<footer class="mt-auto">
    <div class="copyright">
        <p>Benjamin Belz - 2021</p>
    </div>
    <!-- <div class="social">
        <i class="fab fa-facebook-square" id="fb"></i>
        <i class="fab fa-instagram-square" id="insta"></i>
        <i class="fab fa-twitter-square" id="twitter"></i>
        <a href="https://github.com/benbd5/projet-1"><i class="fab fa-github-square" id="git"></i></a>
    </div> -->
</footer>


<!-- Jquery pour les animations -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>

<!-- SweetAlert pour des alerts customisables -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous" defer>
</script>

<script src="/js/alert.js" defer></script>


</body>

</html>