<!doctype html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Wave'sReport vous permet de poster et consulter en temps réel les conditions marines pour le surf.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/accueil.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/articles.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/login.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/profil.css">
    <link rel="stylesheet" type="text/css" href="/css/shared/singleArticle.css">

    <title><%= locals.title %></title>

</head>

<body class="d-flex flex-column min-vh-100">