<header>

  <nav class="navbar navbar-expand-lg navbar-dark d-flex"
    style="background-color: #202121; justify-content: space-between;">
    <div class="container-fluid" style="justify-content: space-between;">
      <a class="navbar-brand" href="/">
        <img src="/images/Logo-wavesreport.png" alt="Logo" id="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Poster un article</a>
          </li>
          <% if (locals.role == 'admin'){ %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Tableau de bord</a>
          </li>
          <% } else if (!locals.user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">S'inscrire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Se connecter</a>
          </li>
          <% } %>
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/profil">
              <% if (!profilPicture) { %>
              <img src="/images/wave'sreport-logo-nuances-gris-sans-ecriture22.png" alt="" id="noProfilPictureNavbar">
              <% } else { %>
              <img src="/uploads/profil/<%= profilPicture %> " alt="" id="profilPictureNavbar">
              <% } %>
              <%= name %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Déconnexion</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>