<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <% if (locals.role == 'admin'){ %>
          <li class="nav-item">
            <a class="nav-link" href="/post">Poster un article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Tableau de bord</a>
          </li>
          <% } else if (!locals.user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">S'inscrire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Se connecter</a>
          </li>
          <% } %>
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/profil">Mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Déconnexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Salut <%= name %> </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>