<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<form action="/send" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="title" class="form-control" id="title" name="titre" placeholder="Titre">
    </div>

    <div class="mb-3">
        <label for="textarea" class="form-label">Textarea</label>
        <textarea class="form-control" id="textarea" name="description"
            placeholder="Description de l'article"></textarea>
    </div>



    <!-- <div class="mb-3">
        <select class="form-select" required aria-label="select" name="userId>
            <option value="">Choisir</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div> -->

    <div class="mb-3">
        <input type="file" class="form-control" aria-label="file example" name="image">
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>
</form>

<%- include('partials/footer.ejs') %>