@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@300;700;900&display=swap");
@import "shared/articles.css";
@import "shared/navbar.css";
@import "shared/dashboard.css";
@import "shared/accueil.css";
@import "shared/buttons.css";
@import "shared/footer.css";
@import "shared/singleArticle.css";
@import "shared/profil.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html,
body {
    height: 100vh;
} */

body {
  margin: 0;
  background: rgb(255, 255, 255);
}

p,
a,
li {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 16px;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h1 {
  font-weight: bold;
}

/* Wave SVG background*/
body {
  background-image: url("/images/wave2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}
