@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@300;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html,
body {
    height: 100vh;
} */

body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: "Prompt", sans-serif;
}

p,
a,
li {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.littleHr {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

h1 {
  font-weight: bold;
}

/* Wave SVG background*/
body {
  background-image: url("/images/wave2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}
html {
  font-family: "Prompt", sans-serif;
}
