@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@300;700;900&display=swap');
@import 'shared/articles.css';
@import 'shared/navbar.css';
@import 'shared/dashboard.css';
@import 'shared/accueil.css';
@import 'shared/buttons.css';
@import 'shared/footer.css';
@import 'shared/singleArticle.css';
@import 'shared/profil.css';


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* html,
body {
    height: 100vh;
} */

body {
    margin: 0;
    background: #eee;
}

p,
a,
li {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 16px
}

/* ds */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.file-input-label {
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
}