.card img {
    width: 350px;
    height: 350px;
}

.card {
    width: 350px;
    box-shadow: 5px 5px 2.5px rgb(235, 235, 235);
}

.card-body {
    width: 350px;
    /* background: #aec3bf; */
}

.edit_delete {
    margin: 10px 0 20px 0;
    width: 100%;
    display: flex;
}

.list-group-item {
    background: #aec3bf
}

.modif {
    margin-bottom: 20px;
}

.nav-articles {
    display: flex;
}

.nav-articles li {
    list-style: none;
    margin: auto;
}

.price-articles {
    font-weight: bold;
}

/* .btn-custom {
    color: black;
    background: white;
    margin: 0;
} */

@media (max-width: 768px) {
    #oneArticle .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #oneArticle .row .col-4,
    #oneArticle .row .col-8 {
        width: auto;
        margin: auto;
    }
}

@media (max-width: 400px) {
    .nav-articles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}