footer {
  /* background-color: rgb(54, 54, 54); */
  border-top: 0.15px solid #aec3bf;
  background-color: 0.15 #0099ff;
  color: rgb(0, 0, 0);
  text-align: center;
}

.copyright {
  text-align: center;
  padding: 20px 20px 0 0;
}

.copyright a {
  color: #fff;
}

.social i {
  margin: 5px 5px 5px 5px;
  font-size: 20px;
  cursor: pointer;
}

.social a {
  color: #fff;
}

#fb:hover {
  color: #3b5999;
}

/* #insta:hover {
    color: #e4405f;
} */

#twitter:hover {
  color: #55acee;
}

#git:hover {
  color: #111010;
}
