nav {
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 17px;
}

.nav-link:hover {
  font-size: 18px;
}

#profilPictureNavbar,
#noProfilPictureNavbar {
  width: 40px;
  border-radius: 50%;
}

#logo {
  width: 120px;
}
#navFluid {
  width: auto;
}

/* Media-queries */
@media (max-width: 992px) {
  #navFluid {
    width: 100%;
  }
}
