 nav {
     margin-bottom: 30px;
 }

 /*
.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 10vh;
}

.nav-elements a {
    font-size: 25px;
    color: #333;
    text-decoration: none;
}

.nav-elements a:visited {
    color: #333;
}


.nav-elements h2 {
    transition: all .3s ease-in-out;
}

.nav-elements img {
    width: 150px;
    height: 150px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-links,
h2 {
    flex: 1;
    color: #333;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: all 0.2s ease;
}

.nav-elements h2:hover {
    font-weight: 100;
}

.nav-links li:hover {
    transform: translateX(5px);
    font-weight: bold;
}

ul {
    padding-right: 2rem;
}

@media (max-width: 700px) {

    .nav-links {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .navbar {
        text-align: center;
        height: 350px;
        margin-bottom: auto;
    }

    .navbar-brand {
        margin-left: 16px;
    }

    .nav-links li {
        justify-content: center;
        text-align: center;
    }

    .nav-elements img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 900px) {
    .nav-elements img {
        width: 100px;
        height: 100px;
    }

    .nav-elements a {
        font-size: 20px;
    }

    .item h2,
    .item1 h2 {
        font-size: 50px;
    }
}

@media (max-width: 600px) {

    .item h2,
    .item1 h2 {
        font-size: 30px;
    }
} */