.profil-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.form-photo-profil {
    display: flex;
    flex-direction: column;
}

/* Boutons choisir et ajouter */
.profil-form-picture {
    display: flex;
    justify-content: center;
}

.profil-form-picture span {
    margin-right: 10px;
}

/* Conversion input choisir pour enlever la grande barre */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.file-input-label {
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Suppression photo profil */
#delete-profil-picture {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Modif & Delete profil */
.profil-update-delete {
    display: flex;
    justify-content: center;
}

.profil-update-delete a {
    margin-right: 10px;
}


/* Infos profil + hitoriques des articles postés pqr l'utilisateur */
.profil-infos,
.history-articles-user {
    margin-top: 15px;
}

#profil-user {
    margin-bottom: 30px;
}

.profil-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.profil-infos span {
    font-weight: bold;
}