/* Image */
.single-article-image {
  width: 100%;
  margin-bottom: 20px;
}

/* Description */
#article-gutter {
  margin-right: 50px;
}

#test {
  display: flex;
  margin-top: 20px;
}

#article-column {
  display: flex;
  justify-content: center;
}

/* Media-queries */
@media (max-width: 992px) {
  #article-column {
    flex-direction: column;
  }

  #article-gutter {
    margin-right: 0;
    margin-bottom: 0;
  }

  #test {
    margin-top: 30px;
  }
}
